[submodule "hardware-video-encoder"]
	path = hardware-video-encoder
	url = https://github.com/CitizenOneX/hardware-video-encoder.git
	branch = master
[submodule "minimal-latency-streaming-protocol"]
	path = minimal-latency-streaming-protocol
	url = https://github.com/CitizenOneX/minimal-latency-streaming-protocol.git
	branch = master
